In [1]:
import boto3
import pandas as pd
from io import StringIO
import time
import redshift_connector

In [2]:
AWS_ACCESS_KEY = "AKIATO22S2ULISPFMXWC"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-southeast-2"

SCHEMA_NAME = "covid_19"
S3_STAGING_DIR = "s3://test-covid19-bucket/output/"
S3_BUCKET_NAME = "test-covid19-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [3]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

In [4]:
Dict = {}
def download_and_load_query_results(client: boto3.client, query_response: Dict) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break

        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [5]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "covid_19"."enigma_jhud" WHERE fips IS NOT NULL limit 100;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [6]:
response

{'QueryExecutionId': '7ec39844-49df-4a3d-9fad-a7faae09cd56',
 'ResponseMetadata': {'RequestId': '61dcbfcf-f2f2-4ff5-a418-40ae6bd43f02',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 20 Apr 2023 04:22:36 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '61dcbfcf-f2f2-4ff5-a418-40ae6bd43f02'},
  'RetryAttempts': 0}}

In [7]:
enigma_jhud = download_and_load_query_results(athena_client, response)
enigma_jhud.head(5)

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,250,NaN,NaN,France,2020-01-24T17:00:00,47.0,2.0,2,NaN,NaN,NaN,France,csv
1,250,NaN,NaN,France,2020-01-25T17:00:00,47.0,2.0,3,NaN,NaN,NaN,France,csv
2,250,NaN,NaN,France,2020-01-26T16:00:00,47.0,2.0,3,NaN,NaN,NaN,France,csv
3,250,NaN,NaN,France,2020-01-27T23:59:00,47.0,2.0,3,NaN,NaN,NaN,France,csv
4,250,NaN,NaN,France,2020-01-28T23:00:00,47.0,2.0,4,NaN,NaN,NaN,France,csv

In [8]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "covid_19"."rearc_covid_19_testing_data_states_dailystates_daily" WHERE "covid_19"."rearc_covid_19_testing_data_states_dailystates_daily".fips = 72 limit 100;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
rearc_covid_19_testing_data_states_dailystates_daily = download_and_load_query_results(athena_client, response)
rearc_covid_19_testing_data_states_dailystates_daily.head(5)

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,PR,101327,7991,305972,NaN,posNeg,407299,147,NaN,...,NaN,0,0,d90280f1333ff56cfc42e1fbc293374b6d68ceb8,0,0,0,0,0,NaN
1,20210306,PR,101327,7991,305972,NaN,posNeg,407299,147,NaN,...,NaN,3,0,31d15f295002cbcbff14684ac5f996dee8a78975,0,0,0,0,0,NaN
2,20210305,PR,101066,7952,305972,NaN,posNeg,407038,136,NaN,...,NaN,3,0,807249282401b9f6a94642a056e365064c06dffa,0,0,0,0,0,NaN
3,20210304,PR,100867,7928,305972,NaN,posNeg,406839,171,NaN,...,NaN,5,0,dceaed58396f0099488e692310ba63b22e3f3bd5,0,0,0,0,0,NaN
4,20210303,PR,100765,7909,305972,NaN,posNeg,406737,169,NaN,...,NaN,8,0,4f6cbc391d8e50c880ec402bdaa56b8614d01ca2,0,0,0,0,0,NaN

In [9]:
factCovid1 = enigma_jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid2 = rearc_covid_19_testing_data_states_dailystates_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factCovid1, factCovid2, on='fips', how='inner')

In [10]:
factCovid.shape

(0, 13)

In [11]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "covid_19"."enigma_nytimes_data_in_usa_us_county" limit 20;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)
nytimes_data_in_usa_us_county.head(5)

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0

In [12]:
dimRegion_1 = enigma_jhud[['fips', 'province_state', 'country_region','latitude','longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [13]:
dimRegion.shape

(84, 7)

In [14]:
dimDate = rearc_covid_19_testing_data_states_dailystates_daily[['fips','date']]
dimDate.head(5)

   fips      date
0    72  20210307
1    72  20210306
2    72  20210305
3    72  20210304
4    72  20210303

In [15]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')
dimDate.head(5)

C:\Users\Admin\AppData\Local\Temp/ipykernel_15340/3346919598.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

   fips       date
0    72 2021-03-07
1    72 2021-03-06
2    72 2021-03-05
3    72 2021-03-04
4    72 2021-03-03

In [16]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.day_of_week

C:\Users\Admin\AppData\Local\Temp/ipykernel_15340/2695639759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
C:\Users\Admin\AppData\Local\Temp/ipykernel_15340/2695639759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
C:\Users\Admin\AppData\Local\Temp/ipykernel_15340/2695639759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.day_of_week

In [17]:
dimDate.head(5)

   fips       date  year  month  day_of_week
0    72 2021-03-07  2021      3            6
1    72 2021-03-06  2021      3            5
2    72 2021-03-05  2021      3            4
3    72 2021-03-04  2021      3            3
4    72 2021-03-03  2021      3            2

In [18]:
bucket = 'dataengineer-project'

csv_buffer = StringIO()
csv_buffer

In [19]:
dimRegion.to_csv('./output/dimRegion.csv')

In [20]:
# s3_resource = boto3.resource('s3')
# s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body='output/dimRegion.csv')
s3 = boto3.client('s3',
                  aws_access_key_id=AWS_ACCESS_KEY,
                  aws_secret_access_key=AWS_SECRET_KEY)
# s3.upload_file('./output/dimRegion.csv', bucket, './output/dimRegion.csv'.split('/')[-1])

folder_name = 'output/'

with open('./output/dimRegion.csv', 'rb') as f:
    s3.upload_fileobj(f, bucket, folder_name + 'output/dimRegion.csv')

In [21]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" INTEGER,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [22]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" TEXT,
  "fips" INTEGER,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" INTEGER,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" INTEGER,
  "hospitalizedcurrently" INTEGER,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [23]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" TEXT,
  "fips" INTEGER,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" INTEGER,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" INTEGER,
  "hospitalizedcurrently" INTEGER,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [33]:
conn = redshift_connector.connect(
    host='redshift-cluster-1.clv2ym6sny2w.ap-southeast-2.redshift.amazonaws.com:5439/dev',
    database='dev',
    user='awsuser',
    password='Password1',
    port = 5439,
    # private_key = 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCdfRdJXXtX8qCOKfbjnnFIX1EvaVpqz6A9euBiL66oynVjN3UxUQ6EKuvJ8kNxIC8QJWrTURz1i6a5JOzAB3889vMpMWSnsfhvZwaAZ6cSxxcZzwyKYjEfjDrOIBECwUAwK21wJ7OFWsN/r7GHvgiz5uGQIrxuyLNPJdgFqrEF4zeQpFFI6OOqDPMbyl4vbogQfbkBVasFttaULBR1wACYnPqvLkcq9Ap1/AQNl1EUfUgUXBUo9M0tFfgJDzb27rh8UhLfgq31SHVWTzesOXfC3qDDswLcMiTJ2ahYqzbDoP2s1ksKzVu6yMQpxnLi7XFl6UFySFazx29htDXjMUx7 Amazon-Redshift'
 )

InterfaceError: ('communication error', gaierror(11001, 'getaddrinfo failed'))

In [ ]:
cursor = redshift_connector.Cursor = conn.cursor()

In [28]:
# !pip install --upgrade redshift_connector

Requirement already satisfied: redshift_connector in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (2.0.910)
Requirement already satisfied: lxml>=4.6.5 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (4.9.3)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (1.29.115)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (58.0.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (2021.1)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (1.26.115)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (2.25.1)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: packaging in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from redshift_connector) (21.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.7)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (4.0.0)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\admin\anaconda3\envs\min_ds-env\lib\site-packages (from packaging->redshift_connector) (2.4.7)

In [ ]:
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCdfRdJXXtX8qCOKfbjnnFIX1EvaVpqz6A9euBiL66oynVjN3UxUQ6EKuvJ8kNxIC8QJWrTURz1i6a5JOzAB3889vMpMWSnsfhvZwaAZ6cSxxcZzwyKYjEfjDrOIBECwUAwK21wJ7OFWsN/r7GHvgiz5uGQIrxuyLNPJdgFqrEF4zeQpFFI6OOqDPMbyl4vbogQfbkBVasFttaULBR1wACYnPqvLkcq9Ap1/AQNl1EUfUgUXBUo9M0tFfgJDzb27rh8UhLfgq31SHVWTzesOXfC3qDDswLcMiTJ2ahYqzbDoP2s1ksKzVu6yMQpxnLi7XFl6UFySFazx29htDXjMUx7 Amazon-Redshift